<%- include("partials/header") -%>
    <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
        <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
            <h1><a href="/" rel="dofollow">Continental Cloud</a></h1>
        </div>
        <div class="formbg-outer">
            <div class="formbg">
                <div class="formbg-inner padding-horizontal--48">
                    <span class="padding-bottom--15" style="text-align: center;">Welcome!!</span>
                    <form id="stripe-login" style="margin-top: 35px;">
                        <div class="field padding-bottom--24">
                            <a class="btn btn-primary btn-lg btn-block" href="/login" role="button"> LogIn </a>
                        </div>
                        <div class="field padding-bottom--24">
                            <a class="btn btn-primary btn-lg btn-block" href="/signup" role="button"> SignUp</a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="footer-link padding-top--24">
                <span> Our promise : - Security and Speed</span>
                <%- include("partials/footer") -%>