<%- include("partials/header") -%>

    <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
        <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
            <h1><a href="" rel="dofollow">Continental Cloud</a></h1>
        </div>
        <div class="formbg-outer">
            <div class="formbg">
                <div class="formbg-inner padding-horizontal--48">
                    <h1>Data Uploaded to AWS S3</h1>
                </div>
            </div>
            <div class="footer-link padding-top--24">


                <%- include("partials/footer") -%>